body{
   padding: 0;
   margin: 0;
   background: yellow;
}

.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.row{
width: 500px;
margin-right: 20px;
}

button{
    position: relative;
    left: 200px;
}
img {
    width: 400px;
    height: 400px;
}